@import '~react-md/src/scss/react-md';
$md-primary-color: #a9dadf;
$md-secondary-color: #558786; 
$md-tertiary-color: #fdcc0d;
$md-white-color: #FFFFFF;
$md-dark-color: #558786;

$font-color:                 #66615b !default;
$fill-font-color:            rgba(255, 255, 255, 0.8);
$font-family-sans-serif:     'Poppins', sans-serif;  

.main-container,
.darker-background {
    background-color: $md-white-color;
}

.darker-background {
    background-color: $md-dark-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}

body {
    font-family: $font-family-sans-serif;
}
